<!-- title: band boosters -->

<!-- ============================================================== -->
<h2>2010-2011 Band Boosters Budget</h2>

<p>The 2010-2011 Band Budget is
<a href="documents/2010-2011-HSHS-Band-Budgets.pdf">available on the web site</a>.

<p>The annual Booster meeting has been moved to May 2, 2011. 
There will be no April meeting. 

<h3>Officers</h3>

<table>
<tr><td>--unfilled--       <td> - <td>President
<tr><td>--unfilled--       <td> - <td>Co-1st Vice-President
<tr><td>Kathy Fishel       <td> - <td>Secretary
<tr><td>Mike Brown         <td> - <td>Treasurer
</table>

<!-- ============================================================== -->
<h2>Meeting Minutes</h2>

<ul>
<li><a href="documents/2011-03-Band-Boosters-Minutes.pdf">2011-03 meeting</a>
<li><a href="documents/2011-01-Band-Boosters-Minutes.pdf">2011-01 meeting</a>
<li><a href="documents/2010-11-Band-Boosters-Minutes.pdf">2010-11 meeting</a>
<li><a href="documents/2010-10-Band-Boosters-Minutes.pdf">2010-10 meeting</a>
<li><a href="documents/2010-08-Band-Boosters-Minutes.pdf">2010-08 meeting</a>
<li><a href="documents/2010-09-Band-Boosters-Minutes.pdf">2010-09 meeting</a>
</ul>

<!--
<li><a href="documents/band-boosters/minutes/HSHS-band-boosters-minutes-2010-03-08.pdf">2010-03-08 meeting</a>
<li><a href="documents/band-boosters/minutes/HSHS-band-boosters-minutes-2010-02-08.pdf">2010-02-08 meeting</a>
<li><a href="documents/band-boosters/minutes/HSHS-band-boosters-minutes-2010-01-11.pdf">2010-01-11 meeting</a>
<li><a href="documents/band-boosters/minutes/HSHS-band-boosters-minutes-2009-11-09.pdf">2009-11-09 meeting</a>

-->