<!-- title: bands: honors credit -->

<h2>documents</h2>

<ul>

<li>Wind Ensemble Honors Credit Concert Critique Guidelines -
<a href="documents/2011-wind-ensemble-concert-critique-honors.pdf">2011-wind-ensemble-concert-critique-honors.pdf</a>

<li>Wind Ensemble Honors Credit Research Project Guidelines -
<a href="documents/2011-wind-ensemble-honors-research-project.pdf">2011-wind-ensemble-honors-research-project.pdf</a>

</ul>

