<!-- title: bands: wind ensemble -->

<h2>News</h2>

<h3>Wind Ensemble Dress Rehearsal on 2011/05/23 cancelled</h3>

<p>Due to the productive rehearsals in class, the Wind Ensemble Dress 
Rehearsal for Monday, May 23, from 6-8:30 PM, has been cancelled.  
We will rehearse on stage on Monday and Tuesday morning, and the 
call time for our performance will be 6:15 on Tuesday night.  
Have a restful weekend, and come prepared for two great 
rehearsals on Monday and Tuesday.
