<!-- title: bands: golden hawks regiment -->

<h2>2010 Southeast High School Band Bash</h2>

<p>On Saturday, September 25, the Golden Hawks Regiment will participate in the
the 2010 Southeast High School Band Bash.  The schedule is available
<a href="documents/2010-Southeast-High-School-Band-Bash-updated.pdf">here</a>.
