<!-- title: bands: concert ensembles -->

<p>This page contains information about concert ensembles,
including
Freshman Band,
Concert Band,
Symphonic Band,
and
Wind Ensemble.

<h2>2013-03-25 MPA</h2>

<p><i><a href="documents/2013-03-25-mpa-letter.pdf">PDF version</a></i>

<p>To the parents and students of the Holly Springs High School Wind Ensemble:

<p>One week from today, we will be performing at the Music Performance Adjudication in Level VI. This year’s event is being hosted by FranklintonHigh School in Franklinton. This letter will provide many of the details needed to prepare for this event.

<p>Thank you for attending our concert and clinic this past Friday. We have scheduled two additional rehearsals for this week in  preparation for our MPA performance. The first will take place on Wednesday evening from 6-8 PM, and the second will take place on Friday afternoon from 2:30-5:30 PM. Both of these will take place in the band room due a play by our theater program being performed this weekend. We ask that all members make it a priority to attend. This will help us have the performance on March 25 that we desire. Please let me know ASAP any conflicts that may interfere with these dates.

<p>Speaking of March 25, below is a timeline of events.

<table cellspacing=0 cellpadding=5>
<tr> <td valign=top> <nobr> 07:00 - 07:20 AM </nobr> <td valign=top> – <td> Report to the auditorium for rehearsal. You will miss this entire day of school, so please get all assignments prior.
<tr> <td valign=top> <nobr> 07:25 - 09:25 AM </nobr> <td valign=top> – <td> Wind Ensemble Morning Rehearsal
<tr> <td valign=top> <nobr> 09:25 - 09:45 AM </nobr> <td valign=top> – <td> Clear stage and move equipment to truck.
<tr> <td valign=top> <nobr> 09:45 - 10:30 AM </nobr> <td valign=top> – <td> Eat lunch (cafeteria will be open early to accommodate you.) Once equipment has been loaded, please eat, and then change into concert attire. Dress professionally, and do forget black socks, shoes, heels, tux, dress, jewelry, etc.
<tr> <td valign=top> <nobr> 10:30 AM         </nobr> <td valign=top> – <td> Report to Band Room – Final details; attire check
<tr> <td valign=top> <nobr> 10:45 AM         </nobr> <td valign=top> – <td> Depart for FranklintonHS (Bring light snack to eat on bus; no energy drinks or soda)
<tr> <td valign=top> <nobr> 12:15 PM         </nobr> <td valign=top> – <td> Arrive at Franklinton HS 
<tr> <td valign=top> <nobr> 01:05 PM         </nobr> <td valign=top> – <td> Warm-Up
<tr> <td valign=top> <nobr> 01:45 PM         </nobr> <td valign=top> – <td> Perform
<tr> <td valign=top> <nobr> 02:25 PM         </nobr> <td valign=top> – <td> Sight-Read
<tr> <td valign=top> <nobr> 03:05 PM         </nobr> <td valign=top> – <td> Pack and receive scores
<tr> <td valign=top> <nobr> 03:35 - 04:05 PM </nobr> <td valign=top> – <td> Depart for dinner $ needed.
<tr> <td valign=top> <nobr> 05:15 PM         </nobr> <td valign=top> – <td> Back to Franklinton HS to attend Wakefield and Athens Drive Wind Ensemble performance
<tr> <td valign=top> <nobr> 07:45 PM         </nobr> <td valign=top> - <td> Depart for Holly Springs HS
<tr> <td valign=top> <nobr> 08:30 - 08:45 PM </nobr> <td valign=top> – <td> Arrive at Holly Springs/Unload truck
</table>

<p>For those students who may need to leave from Franklinton High School after our performance to attend Brass Band rehearsals or other obligations, please be sure to fill out the <a href="documents/2011-alternative-transportation-form.pdf">alternative transportation form</a>, located on our website, and return it to me by Friday, March 22. Students will be released in the care of their parents only and will be responsible for their own instruments, music, and attire. In addition to this I must have a <a href="documents/2010-1713a_parental_consent_for_school_trips_or_athletic_events.pdf">Wake County 1713a form</a> on file for each student. This was due today. If you were in the marching band in the fall, or attended All-District Concert or Jazz events, I already have a form from you. Again, these can be found on our website in the documents section.

<p>Parents, please plan to attend both our concert and especially our MPA performance if possible. Performing at another school can be an intimidating experience. The band has worked really hard to prepare a very challenging program. Your live support reallyhelps. We are in need of someone to drive our truck that day to transport additional percussion equipment not provided by FranklintonHigh School and large wind instruments. If you are available for this or able to chaperone on the bus (need about four parents), please let me know ASAP.

<p>Musically yours,
<p>Mr. B
