<!-- title: bands: golden hawks regiment -->

<!-- ============================================================ -->
<h2>General information</h2>

<ul>
<li><a href="documents/2012-2013-Holly-Springs-High-School-Band-intro.pdf">introductory information for the 2012-2013 band year</a>
</ul>
