<!-- title: bands: concert ensembles -->

<p>This page contains information about concert ensembles,
including
Freshman Band,
Concert Band,
Symphonic Band,
and
Wind Ensemble.

<!-- ============================================================ -->
<h2>general information</h2>

<ul>
<li><a href="documents/2013-2014-Holly-Springs-High-School-Band-intro.pdf">introductory information for the 2013-2014 band year</a>
</ul>
