<!-- title: bands: jazz ensemble -->

<h2>2012 jazz arrangements</h2>

<p>If you don't have little music players showing for these in your browser window,
then audio is not enabled in your browser; try <a href="http://www.google.com/chrome">Google Chrome</a>.

<h3>Moanin</h3>
<audio src="http://www.halleonard.com/audio/07011485.mp3"  controls="true" preload="auto" autobuffer="true"><a href="http://www.halleonard.com/audio/07011485.mp3" >http://www.halleonard.com/audio/07011485.mp3</a></audio>

<p><a href="http://www.halleonard.com/audio/07011485.mp3">[download]</a>

<h3>Chameleon</h3>
<audio src="http://rockstar.jwpepper.com/mp3/10280569.mp3" controls="true" preload="auto" autobuffer="true"><a href="http://rockstar.jwpepper.com/mp3/10280569.mp3">http://rockstar.jwpepper.com/mp3/10280569.mp3</a></audio>

<p><a href="http://rockstar.jwpepper.com/mp3/10280569.mp3">[download]</a>

<h3>Sing, Sing, Sing</h3>
<audio src="http://rockstar.jwpepper.com/mp3/2411486.mp3"  controls="true" preload="auto" autobuffer="true"><a href="http://rockstar.jwpepper.com/mp3/2411486.mp3" >http://rockstar.jwpepper.com/mp3/2411486.mp3</a></audio>

<p><a href="http://rockstar.jwpepper.com/mp3/2411486.mp3">[download]</a>

