<!-- title: bands: concert ensembles -->

<p>This page contains information about concert ensembles,
including
Freshman Band,
Concert Band,
Symphonic Band,
and
Wind Ensemble.

<!-- ======================================================================= -->
<h2>2013-03 Music Performance Adjudication</h2>

<p>Information concerning the 2013-03 Music Performance Adjudication (MPA):

<ul>
<li><p><a href="documents/2013-03-25-mpa-letter.pdf">    PDF letter for Wind Ensemble performance on 03-25</a>
<li><p><a href="documents/2013-03-25-mpa-letter-cb.pdf"> PDF letter for Concert Band  performance on 03-27</a>
</ul>

<p>other documents you may need:
<ul>
<li><p><a href="documents/2011-alternative-transportation-form.pdf">alternative transportation form</a>
<li><p><a href="documents/2010-1713a_parental_consent_for_school_trips_or_athletic_events.pdf">Wake County 1713a form</a>
</ul>
