<!-- title: media -->

<h2>Movies</h2>

<p><a href="http://youtube.com/view_play_list?p=368E8D9FEB9C752C">[link]</a> 
Holly Springs High School bands on YouTube.

<h2>Note</h2>

<p><i>Due to space limitations, we are unable to host movies, pictures, etc on this 
web site.  However, we'd be happy to add links to media that's hosted elsewhere,
such as
<a href="http://flickr.com">Flickr</a>,
<a href="http://picasa.google.com/">Picassa</a>,
<a href="http://youtube.com">YouTube</a>,
etc.</i></p>