<!-- title: volunteering -->

<!-- ================================================================== -->
<h2>Band Camp Meals</h2>

<p>We use
<a href="http://www.signupgenius.com/">Sign Up Genius</a>
to arrange who is working when.

<p>You will need to have your email address registered by
Jessica Stygles at <span class="iea">jlstygles at yahoo dot com</span>.

